<div class="modal-error-container">
	<div class="close-button" title="Fechar" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</div>

	<mat-dialog-content>
		<p class="title">Confirmar romaneio para as NFs selecionadas?</p>
		<p class="message">
			Ao confirmar, o status da NFs mudará para "Em separação" e você poderá
			imprimir o romaneio
		</p>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button color="primary" mat-button mat-dialog-close>Cancelar</button>
		<button
			color="primary"
			mat-raised-button
			mat-dialog-close="true"
			(click)="statusChanged ? changeStatus() : print()"
		>
			{{ statusChanged ? 'Imprimir' : 'Confirmar' }}
		</button>
	</mat-dialog-actions>
</div>
