<div class="modalEdita-container">
	<div class="close-button" title="Fechar" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</div>
	<div class="container-controls">
		<div class="side-nav">
			<button
				mat-button
				(click)="toggleForm(1)"
				[ngClass]="{ active: activeForm === 1 }"
			>
				Dados do veículos
			</button>
			<button
				mat-button
				(click)="toggleForm(2)"
				[ngClass]="{ active: activeForm === 2 }"
			>
				Documentação
			</button>
			<button
				mat-button
				(click)="toggleForm(3)"
				class="inactive-alert"
				[ngClass]="{ active: activeForm === 3 }"
				*ngIf="dialogData.status === 'Inativo'"
			>
				Veículo inativo
				<mat-icon> warning </mat-icon>
			</button>
		</div>
		<div class="form-container">
			<ng-container [ngSwitch]="activeForm">
				<form
					class="form-grid"
					[formGroup]="_formVehicle"
					[@changeAnim]="activeForm === 1 ? 'open' : 'close'"
					*ngSwitchCase="1"
				>
					<mat-form-field class="grid-3">
						<mat-label> Modelo </mat-label>
						<input
							matInput
							type="text"
							formControlName="ModeloCaminhao"
							required
						/>
					</mat-form-field>
					<mat-form-field class="grid-3">
						<mat-label> Placa </mat-label>
						<input matInput type="text" formControlName="Placa" required />
						<mat-error *ngIf="!_formVehicle.hasError('required')">
							Preencha a placa do veículo
						</mat-error>
					</mat-form-field>
					<mat-form-field class="grid-3">
						<mat-label> Tipo do veículo </mat-label>
						<mat-select formControlName="TipoCaminhao" required>
							<mat-optgroup *ngFor="let name of vehicleNames" [label]="name">
								<mat-option
									*ngFor="let vehicle of vehicles[name]"
									[value]="vehicle"
								>
									{{ vehicle }}
								</mat-option>
							</mat-optgroup>
						</mat-select>
						<mat-error *ngIf="!_formVehicle.hasError('required')">
							Informe o tipo do veículo
						</mat-error>
					</mat-form-field>
					<mat-form-field class="grid-3">
						<mat-label> Carroceria </mat-label>
						<mat-select formControlName="Carroceria" required>
							<mat-optgroup
								*ngFor="let name of transportBodyNames"
								[label]="name"
							>
								<mat-option
									*ngFor="let transportBody of transportBodyes[name]"
									[value]="transportBody"
								>
									{{ transportBody }}
								</mat-option>
							</mat-optgroup>
						</mat-select>
						<mat-error *ngIf="!_formVehicle.hasError('required')">
							Informe a carroceria do veículo.
						</mat-error>
					</mat-form-field>
				</form>

				<form
					class="form-grid"
					[formGroup]="_formDocuments"
					[@changeAnim]="activeForm === 2 ? 'open' : 'close'"
					*ngSwitchCase="2"
				>
					<mat-form-field class="grid-3">
						<mat-label> renavam </mat-label>
						<input matInput type="text" formControlName="Renavam" required />
						<mat-error *ngIf="!_formVehicle.hasError('required')">
							Preencha o renavam
						</mat-error>
					</mat-form-field>
					<!-- <mat-form-field class="grid-3">
						<mat-label> Documento </mat-label>
						<input matInput type="text" formControlName="modelo" required>
					</mat-form-field> -->
				</form>
				<div
					class="form-grid"
					[@changeAnim]="activeForm === 3 ? 'open' : 'close'"
					*ngSwitchCase="3"
				>
					<div class="grid-6">
						<h1>Deseja reativar este veículo?</h1>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="activeForm < 3">
				<div class="button-group">
					<button mat-button (click)="deleteVehicle()">Excluir cadastro</button>
					<button mat-raised-button color="primary" (click)="saveEdit()">
						Salvar alterações
					</button>
				</div>
			</ng-container>

			<ng-container *ngIf="activeForm === 3">
				<div class="button-group">
					<button mat-button (click)="toggleForm(1)">Cancelar</button>
					<button color="primary" mat-raised-button (click)="deleteVehicle(1)">
						Sim, quero reativar.
					</button>
				</div>
			</ng-container>
		</div>
	</div>
</div>
