<div class="relSaida-container">
	<app-fab-button-menu
		*ngIf="breakPoint && selection.selected.length === 1"
		[options]="FabOptions"
		(returnFunction)="getFuncFAB($event)"
	>
	</app-fab-button-menu>

	<div class="header">
		<mat-accordion>
			<mat-expansion-panel class="no-shadow" [expanded]="!breakPoint">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon>filter_alt</mat-icon>
						Filtros
					</mat-panel-title>
				</mat-expansion-panel-header>
				<form
					[formGroup]="_form"
					class="form-grid"
					(ngSubmit)="getDocuments()"
					autocomplete="off"
				>
					<mat-form-field class="grid-1">
						<mat-label> Nota fiscal </mat-label>
						<input matInput formControlName="NotaFiscal" />
						<mat-icon matSuffix> document </mat-icon>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Status </mat-label>
						<mat-select formControlName="Status">
							<mat-option value="EmConferencia"> Conferência </mat-option>
							<mat-option value="Digitacao"> Digitação </mat-option>
							<mat-option value="Separacao"> Em separação </mat-option>
							<mat-option value="Faturado"> Faturado </mat-option>
							<mat-option value="Despachado"> Despachado </mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> CD </mat-label>
						<mat-select formControlName="CD">
							<mat-option value="Blumenau"> Blumenau </mat-option>
							<mat-option value="Sumare"> Hub Sumaré </mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Rota </mat-label>
						<input matInput formControlName="Rota" />
						<mat-icon matSuffix> document </mat-icon>
					</mat-form-field>

					<mat-form-field class="grid-2">
						<mat-label> Transportadora </mat-label>
						<input matInput formControlName="Transportadora" />
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Municipio </mat-label>
						<input matInput formControlName="Municipio" />
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Estado </mat-label>
						<mat-select formControlName="Estado">
							<mat-option value="Blumenau"> Blumenau </mat-option>
							<mat-option value="Sumare"> Hub Sumaré </mat-option>
						</mat-select>
					</mat-form-field>

					<div class="grid-1" *ngIf="breakPoint">
						<mat-slide-toggle
							formControlName="tableControl"
							color="primary"
							(change)="tableView($event)"
						>
							Tabela reduzida
						</mat-slide-toggle>
					</div>

					<div class="grid-1 button-group">
						<button
							mat-button
							type="button"
							color="primary"
							class="grid-1"
							(click)="getDocumentFilter(); _form.reset()"
						>
							Limpar filtro
						</button>
						<button
							type="submit"
							mat-raised-button
							color="primary"
							class="grid-1"
						>
							Pesquisar
						</button>
					</div>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
	<div class="table-container">
		<div class="menu-actions" *ngIf="!breakPoint">
			<span>
				<svg
					id="Camada_1"
					data-name="Camada 1"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
				>
					<defs>
						<style>
							.cls-1 {
								fill: #eee;
							}
						</style>
					</defs>
					<path class="cls-1" d="M0,20H20V0S20,20,0,20Z" />
				</svg>
			</span>
			<button
				mat-button
				class="menu-item"
				color="primary"
				data-label="Novo cadastro"
				[disabled]="selection.selected.length != 1"
				[title]="
					selection.selected.length != 1
						? 'Romaneio - Selecionem pelo menos um item'
						: 'Romaneio'
				"
				(click)="openRomaneio()"
			>
				<mat-icon> shopping_cart </mat-icon>
			</button>
			<button
				mat-button
				class="menu-item"
				color="primary"
				data-label="Novo cadastro"
				[disabled]="selection.selected.length != 1"
				[title]="
					selection.selected.length >= 1
						? 'Associar transportadora - Selecionem pelo menos um item'
						: 'Associar transportadora'
				"
				(click)="openShippingCompany()"
			>
				<mat-icon> local_shipping </mat-icon>
			</button>
		</div>
		<div class="table">
			<mat-table matSort matTableResponsive [dataSource]="_dataSource">
				<ng-container matColumnDef="check">
					<mat-header-cell *matHeaderCellDef>
						<span>
							<mat-checkbox
								color="primary"
								[checked]="allSelected()"
								(change)="$event ? toggleAll() : null"
							>
							</mat-checkbox>
						</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span>
							<mat-checkbox
								color="primary"
								(click)="$event.stopPropagation()"
								(change)="$event ? selection.toggle(element) : null"
								[checked]="selection.isSelected(element)"
							>
							</mat-checkbox>
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="NF">
					<mat-header-cell *matHeaderCellDef>
						<span> N° Op. </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="NF">
						<span> {{ element.NF }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Pedido">
					<mat-header-cell *matHeaderCellDef>
						<span> Pedido </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Pedido">
						<span> {{ element.Pedido }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Status">
					<mat-header-cell *matHeaderCellDef>
						<span> Status </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Status">
						<span [matMenuTriggerFor]="statusMenu">
							{{ element.Status }}
							<mat-icon> arrow_drop_down </mat-icon>
						</span>
						<mat-menu #statusMenu="matMenu" xPosition="before">
							<button mat-menu-item>Status 1</button>
							<button mat-menu-item>Status 2</button>
							<button mat-menu-item>Status 3</button>
						</mat-menu>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="CD">
					<mat-header-cell *matHeaderCellDef>
						<span> CD </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="CD">
						<span> {{ element.CD }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Rota">
					<mat-header-cell *matHeaderCellDef>
						<span> Rota </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Rota">
						<span> {{ element.Rota }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Transportadora">
					<mat-header-cell *matHeaderCellDef>
						<span> Transportadora </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Transportadora">
						<span> {{ element.Transportadora }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="QtdVolume">
					<mat-header-cell *matHeaderCellDef>
						<span> Qtd. Volume </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="QtdVolume">
						<span> {{ element.QtdVolume }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Cliente">
					<mat-header-cell *matHeaderCellDef>
						<span> Cliente </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Cliente">
						<span> {{ element.Cliente }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="ValorPedido">
					<mat-header-cell *matHeaderCellDef>
						<span> Valor Pedido </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="ValorPedido">
						<span> {{ element.ValorPedido | currency }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Municipio">
					<mat-header-cell *matHeaderCellDef>
						<span> Municipio </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Municipio">
						<span> {{ element.Municipio }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Estado">
					<mat-header-cell *matHeaderCellDef>
						<span> Estado </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Estado">
						<span> {{ element.Municipio }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Saida">
					<mat-header-cell *matHeaderCellDef>
						<span> Saida </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Saida">
						<span> {{ element.Saida | date: 'dd-MM-YYYY' }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Controls">
					<mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell *matCellDef="let element" class="controls">
						<span id="vertical-menu">
							<mat-icon [matMenuTriggerFor]="optionsMenu"> more_vert </mat-icon>
							<mat-menu #optionsMenu="matMenu">
								<button matRipple mat-menu-item (click)="openComments()">
									<mat-icon> mode_comment </mat-icon>
									<span> Comentários </span>
								</button>
								<button matRipple mat-menu-item (click)="openInformations()">
									<mat-icon> info </mat-icon>
									<span> Informações </span>
								</button>
							</mat-menu>
						</span>
						<span id="horizontal-menu">
							<button mat-icon-button (click)="openComments()">
								<mat-icon class="delete"> mode_comment </mat-icon>
							</button>
							<button mat-icon-button (click)="openInformations()">
								<mat-icon class="delete"> info </mat-icon>
							</button>
						</span>
					</mat-cell>
				</ng-container>

				<mat-header-row
					*matHeaderRowDef="displayedColumns; sticky: true"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
					[ngClass]="tableColumns ? 'reduce' : 'expanded'"
				>
				</mat-row>
			</mat-table>
		</div>
	</div>
	<app-paginator
		[currentPage]="currentPage"
		[pageCount]="pageCount"
		[isMobile]="breakPoint"
		(returnPage)="getDocuments($event)"
	>
	</app-paginator>
</div>
