<div class="modalEdita-container">
	<div class="close-button" title="Fechar" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</div>

	<div class="container-controls">
		<div class="side-nav">
			<button
				mat-button
				(click)="toggleForm(1)"
				[ngClass]="{ active: activeForm === 1 }"
			>
				Dados do motorista
			</button>
			<button
				mat-button
				(click)="toggleForm(2)"
				[ngClass]="{ active: activeForm === 2 }"
			>
				Dados de pagamento
			</button>
			<button
				mat-button
				(click)="toggleForm(3)"
				class="inactive-alert"
				[ngClass]="{ active: activeForm === 3 }"
				*ngIf="dialogData.status === 'Inativo'"
			>
				Motorista inativo
				<mat-icon> warning </mat-icon>
			</button>
		</div>
		<div class="form-container">
			<ng-container [ngSwitch]="activeForm">
				<form
					class="form-grid"
					[formGroup]="_formDriverInfo"
					[@changeAnim]="activeForm === 1 ? 'open' : 'close'"
					*ngSwitchCase="1"
				>
					<mat-form-field class="grid-3">
						<mat-label> Nome </mat-label>
						<input
							matInput
							type="text"
							formControlName="NomeCompleto"
							required
						/>
						<mat-error *ngIf="!_formDriverInfo.hasError('required')">
							Informe o nome do motorista.
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> CPF/CNPJ </mat-label>
						<input matInput type="text" formControlName="CpfCnpj" required />
						<mat-error *ngIf="!_formDriverInfo.hasError('required')">
							Informe o CPF ou CNPJ.
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> CNH </mat-label>
						<input matInput type="text" formControlName="CNH" required />
						<mat-error *ngIf="!_formDriverInfo.hasError('required')">
							Informe o numero da CNH.
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label>Categoria CNH</mat-label>
						<mat-select formControlName="TipoCNH" multiple>
							<mat-option value="A"> A </mat-option>
							<mat-option value="B"> B </mat-option>
							<mat-option value="C"> C </mat-option>
							<mat-option value="D"> D </mat-option>
							<mat-option value="E"> E </mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label>Data de vencimento</mat-label>
						<input
							matInput
							[matDatepicker]="picker"
							formControlName="dataVencimento"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="picker"
						></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> Celular </mat-label>
						<input matInput type="text" formControlName="Celular" required />
						<mat-error *ngIf="!_formDriverInfo.hasError('required')">
							Informe o Celular.
						</mat-error>
					</mat-form-field>

					<div class="download-group grid-3">
						<mat-form-field>
							<mat-label> Foto CNH </mat-label>
							<input
								matInput
								formControlName="imagemCNH"
								placeholder="Envie uma imagem"
								[value]="fileCNH?.name || ''"
								required
								readonly
							/>
							<mat-icon matSuffix> badge </mat-icon>
						</mat-form-field>
						<input
							type="file"
							id="fileCNH"
							style="display: none"
							(change)="saveCNH($event)"
						/>
						<label for="fileCNH"> Procurar arquivo </label>
					</div>
				</form>
				<form
					class="form-grid"
					[formGroup]="_formPaymentInfo"
					[@changeAnim]="activeForm === 2 ? 'open' : 'close'"
					*ngSwitchCase="2"
				>
					<mat-form-field class="grid-3">
						<mat-label> Banco </mat-label>
						<input matInput type="text" formControlName="Banco" required />
						<mat-error *ngIf="!_formPaymentInfo.hasError('required')">
							Informe o banco do motorista
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> Agência </mat-label>
						<input matInput type="text" formControlName="Agencia" required />
						<mat-error *ngIf="!_formPaymentInfo.hasError('required')">
							Informe a agêndia do banco
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> Número da conta </mat-label>
						<input
							matInput
							type="text"
							formControlName="NumeroConta"
							required
						/>
						<mat-error *ngIf="!_formPaymentInfo.hasError('required')">
							Informe o número da conta
						</mat-error>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> PIX </mat-label>
						<mat-select formControlName="Pix">
							<mat-option value=""> Nenhum </mat-option>
							<mat-option *ngFor="let payment of paymentPix" [value]="payment">
								{{ payment }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-3">
						<mat-label> Chave Pix </mat-label>
						<input
							matInput
							[type]="
								_formPaymentInfo.controls['Pix'].value === 'E-mail'
									? 'email'
									: 'text'
							"
							formControlName="ChavePix"
							[required]="_formPaymentInfo.controls['Pix'].value != ''"
							[disabled]="_formPaymentInfo.controls['Pix'].value === ''"
							[mask]="
								_formPaymentInfo.controls['Pix'].value === 'CPF'
									? '000.000.000-00'
									: _formPaymentInfo.controls['Pix'].value === 'Telefone'
									? '(00) 0 0000-0000'
									: ''
							"
						/>
						<mat-error *ngIf="!_formPaymentInfo.hasError('required')">
							Informe a chave PIX
						</mat-error>
					</mat-form-field>
				</form>
				<div
					class="form-grid"
					[@changeAnim]="activeForm === 3 ? 'open' : 'close'"
					*ngSwitchCase="3"
				>
					<div class="grid-6">
						<h1>Deseja reativar este motorista?</h1>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="activeForm < 3">
				<div class="button-group">
					<button mat-button (click)="deleteDriver()">Excluir cadastro</button>
					<button mat-raised-button color="primary" (click)="saveEdit()">
						Salvar alterações
					</button>
				</div>
			</ng-container>

			<ng-container *ngIf="activeForm === 3">
				<div class="button-group">
					<button mat-button (click)="toggleForm(1)">Cancelar</button>
					<button color="primary" mat-raised-button (click)="deleteDriver(1)">
						Sim, quero reativar.
					</button>
				</div>
			</ng-container>
		</div>
	</div>
</div>
