<div
	class="close-button"
	title="Fechar"
	mat-dialog-close
	style="z-index: 999; margin: 4px"
>
	<mat-icon>close</mat-icon>
	<div class="loading" *ngIf="isLoading">
		<mat-spinner> </mat-spinner>
		<p>Carregando...</p>
	</div>
</div>
<div class="conferencia-container">
	<div class="container-header" *ngIf="!breakPoint">
		<div class="header-item">
			<p>N° Operacional</p>
			<p>{{ _dataModal?.NOp || '-' }}</p>
		</div>
		<div class="header-item">
			<p>Status</p>
			<p>{{ _dataModal?.Status || '-' }}</p>
		</div>
		<div class="header-item">
			<p>Data</p>
			<p>{{ (_dataModal?.DataInserido | date: 'dd/MM/YYYY') || '-' }}</p>
		</div>
		<div class="header-item">
			<p>Quem conferiu</p>
			<p>{{ _dataModal?.InseridoPor || '-' }}</p>
		</div>
		<div class="search-bar">
			<mat-form-field appearance="outline">
				<mat-label>Buscar</mat-label>
				<input matInput (keyup)="searchItem($event)" #searchBar />
			</mat-form-field>
			<span class="search-button">
				<mat-icon> search </mat-icon>
			</span>
		</div>
	</div>

	<div class="container-header-accordion" *ngIf="breakPoint">
		<mat-accordion>
			<mat-expansion-panel class="no-shadow" expanded="false">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon>filter_alt</mat-icon>
						Informações / busca
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="header-info">
					<div class="header-item">
						<p>N° Operacional</p>
						<p>{{ _dataModal?.NOp }}</p>
					</div>
					<div class="header-item">
						<p>Status</p>
						<p>{{ _dataModal?.Status }}</p>
					</div>
					<div class="header-item">
						<p>Data</p>
						<p>{{ _dataModal?.DataInserido | date: 'dd/MM/YYYY' }}</p>
					</div>
					<div class="header-item">
						<p>Quem conferiu</p>
						<p>{{ _dataModal?.InseridoPor }}</p>
					</div>
					<div class="search-item">
						<mat-form-field appearance="outline">
							<mat-label>Buscar</mat-label>
							<input matInput (keyup)="searchItem($event)" #searchBar />
						</mat-form-field>
						<button color="primary" mat-raised-button>
							<mat-icon> search </mat-icon>
						</button>
					</div>
					<mat-divider></mat-divider>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

	<ng-container [ngSwitch]="activeScreen">
		<div
			class="table"
			[@changeAnim]="activeScreen === 1 ? 'open' : 'close'"
			*ngSwitchCase="1"
		>
			<mat-table matSort matTableResposive [dataSource]="_dataSource">
				<ng-container matColumnDef="Codigo">
					<mat-header-cell *matHeaderCellDef>
						<span> Codigo </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Codigo">
						<span> {{ element.Codigo }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="NF">
					<mat-header-cell *matHeaderCellDef>
						<span> NF </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="NF">
						<span> {{ element.NumNfOmie }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="SKU">
					<mat-header-cell *matHeaderCellDef>
						<span> SKU </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="SKU">
						<span> {{ element.SKU }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Nome">
					<mat-header-cell *matHeaderCellDef>
						<span> Nome </span>
					</mat-header-cell>
					<mat-cell
						*matCellDef="let element"
						[matTooltip]="element.NomeEtiqueta"
						matTooltipPosition="below"
					>
						<span> {{ element.NomeEtiqueta }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Qtd">
					<mat-header-cell *matHeaderCellDef>
						<span> Qtd (caixas) </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Qtd">
						<span> {{ element.Quantidade }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="QtdConf">
					<mat-header-cell *matHeaderCellDef>
						<span> Qtd caixas conf. </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<input
							type="number"
							[min]="element.Quantidade"
							[value]="element.QuantidadeRecebida || 0"
							step="1"
							name="qtdConf"
							(input)="changeQtdConf(element, $event)"
							(change)="formatQtdConf($event)"
						/>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Conferencia">
					<mat-header-cell *matHeaderCellDef>
						<span> Conferência </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" class="controls">
						<span id="vertical-menu">
							<div
								class="button-group"
								[ngClass]="{
									true: element.Conferido,
									false: element.Conferido === false
								}"
							>
								<button
									class="average"
									[ngClass]="element.Conferido === false ? 'true' : 'false'"
									(click)="changeStatus(element, 'avaria')"
									[disabled]="element.Conferido === false"
								>
									<mat-icon> error </mat-icon>
								</button>
								<button
									class="verified"
									[ngClass]="element.Conferido === true ? 'true' : 'false'"
									(click)="changeStatus(element, 'conferido')"
									[disabled]="element.Conferido === true"
								>
									<mat-icon> verified </mat-icon>
								</button>
							</div>
						</span>
					</mat-cell>
				</ng-container>

				<mat-header-row
					*matHeaderRowDef="displayedColumns; sticky: true"
				></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
			</mat-table>
		</div>
		<div
			class="comment"
			[@changeAnim]="activeScreen === 2 ? 'open' : 'close'"
			*ngSwitchCase="2"
		>
			<mat-form-field>
				<mat-label> Observações </mat-label>
				<textarea
					matInput
					pInputTextArea
					rows="3"
					style="resize: none"
					[(ngModel)]="comments"
				>
				</textarea>
			</mat-form-field>
		</div>

		<div class="comment" *ngIf="!breakPoint">
			<mat-form-field>
				<mat-label> Observações </mat-label>
				<textarea
					matInput
					pInputTextArea
					rows="2"
					style="resize: none"
					[(ngModel)]="comments"
				>
				</textarea>
			</mat-form-field>
		</div>
	</ng-container>

	<div class="controls">
		<button mat-raised-button (click)="toggleComment()" *ngIf="breakPoint">
			{{ boolAnim ? 'Adicionar comentario' : 'Voltar para tabela' }}
		</button>
		<button
			color="primary"
			mat-raised-button
			[matDialogClose]="true"
			[disabled]="returnConferido()"
			(click)="saveChanges()"
		>
			Salvar
		</button>
	</div>
</div>
