<div class="modalComentarios-container">
	<div class="header-dialog">
		<p>Comentários</p>
		<div class="close-button" title="Fechar" mat-dialog-close>
			<mat-icon>close</mat-icon>
		</div>
	</div>

	<div class="container">
		<div class="container-comments">
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
			<div class="comment">
				<p class="comment-date">20/04/1999</p>
				<p class="comment-text">
					odio pellentesque diam volutpat commodo sed egestas egestas fringilla
					phasellus faucibus scelerisque eleifend donec pretium vulputate sapien
					nec sagittis aliquam
				</p>
			</div>
		</div>
		<div class="container-leaveComment">
			<mat-form-field>
				<mat-label> Novo comentário </mat-label>
				<textarea matInput InputTextArea rows="4" style="resize: none">
				</textarea>
			</mat-form-field>
			<div class="button-controls">
				<button mat-button>
					{{ comentario.length >= 1 ? 'Limpar' : 'Fechar' }}
				</button>
				<button mat-stroked-button color="primary">Salvar alterações</button>
			</div>
		</div>
	</div>
</div>
