<div class="modalInformacoes-container">
	<div class="header-dialog">
		<p>Informações</p>
		<div class="close-button" title="Fechar" mat-dialog-close>
			<mat-icon>close</mat-icon>
		</div>
	</div>

	<div class="content">
		<div class="content-row">
			<div class="row-header">
				<h3>Motorista</h3>
			</div>
			<div class="row-content">
				<div class="content-item">
					<p>Nome</p>
					<p>Caio santos correa</p>
				</div>
				<div class="content-item">
					<p>CPF/CNPJ</p>
					<p>433.865.168-74</p>
				</div>
				<div class="content-item">
					<p>Telefone</p>
					<p>(19) 9 9999-9999</p>
				</div>
				<div class="content-item">
					<p>CNH</p>
					<p>000000000</p>
				</div>
			</div>
		</div>
		<div class="content-row">
			<div class="row-header">
				<h3>Veiculo</h3>
			</div>
			<div class="row-content">
				<div class="content-item">
					<p>Transportadora</p>
					<p>Direcional</p>
				</div>
				<div class="content-item">
					<p>Tipo</p>
					<p>Vanderléia</p>
				</div>
				<div class="content-item">
					<p>Carroceria</p>
					<p>Bug para container</p>
				</div>
				<div class="content-item">
					<p>Modelo</p>
					<p>Volvo/FM 370 4x2T</p>
				</div>
				<div class="content-item">
					<p>Placa</p>
					<p>BRA2K20</p>
				</div>
				<div class="content-item">
					<p>Renavam</p>
					<p>1234567890</p>
				</div>
			</div>
		</div>
	</div>
</div>
