<div class="relEntrada-container">
	<app-fab-button-menu
		*ngIf="breakPoint"
		[options]="FabOptions"
		(returnFunction)="getFuncFAB($event)"
	>
	</app-fab-button-menu>
	<div class="loading" *ngIf="isLoading">
		<mat-spinner> </mat-spinner>
		<p>Carregando...</p>
	</div>
	<div class="header">
		<mat-accordion>
			<mat-expansion-panel class="no-shadow" [expanded]="!breakPoint">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<mat-icon>filter_alt</mat-icon>
						Filtros
					</mat-panel-title>
				</mat-expansion-panel-header>
				<form
					[formGroup]="_form"
					class="form-grid"
					(ngSubmit)="getDocuments()"
					autocomplete="off"
				>
					<mat-form-field class="grid-1">
						<mat-label> Status </mat-label>
						<mat-select formControlName="status">
							<mat-option value="EmConferencia"> Conferência </mat-option>
							<mat-option value="Digitacao"> Digitação </mat-option>
							<mat-option value="Separacao"> Em separação </mat-option>
							<mat-option value="Faturado"> Faturado </mat-option>
							<mat-option value="Despachado"> Despachado </mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> CD </mat-label>
						<mat-select formControlName="cd">
							<mat-option value="Blumenau"> Blumenau </mat-option>
							<mat-option value="Sumare"> Hub Sumaré </mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Fornecedor </mat-label>
						<input matInput type="text" formControlName="notaFiscal" />
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label>Entrada de</mat-label>
						<input
							matInput
							formControlName="entradaDe"
							[matDatepicker]="pickerDe"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="pickerDe"
						></mat-datepicker-toggle>
						<mat-datepicker #pickerDe></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label>Entrada até</mat-label>
						<input
							matInput
							formControlName="entradaAte"
							[matDatepicker]="pickerAte"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="pickerAte"
						></mat-datepicker-toggle>
						<mat-datepicker #pickerAte></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="grid-1">
						<mat-label> Fornecedor </mat-label>
						<mat-select formControlName="fornecedor">
							<mat-option value="Deca"> Deca </mat-option>
							<mat-option value="Tarket"> Tarket</mat-option>
						</mat-select>
					</mat-form-field>

					<div class="grid-1 button-group">
						<button
							mat-button
							type="button"
							color="primary"
							class="grid-1"
							(click)="getDocumentFilter(); _form.reset()"
						>
							Limpar filtro
						</button>
						<button
							type="submit"
							mat-raised-button
							color="primary"
							class="grid-1"
						>
							Pesquisar
						</button>
					</div>
				</form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
	<div class="table-container">
		<div class="table">
			<div class="menu-actions" *ngIf="!breakPoint">
				<span>
					<svg
						id="Camada_1"
						data-name="Camada 1"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
					>
						<defs>
							<style>
								.cls-1 {
									fill: #eee;
								}
							</style>
						</defs>
						<path class="cls-1" d="M0,20H20V0S20,20,0,20Z" />
					</svg>
				</span>
				<button
					mat-button
					class="menu-item"
					color="primary"
					data-label="Novo cadastro"
					(click)="registerNF()"
				>
					<mat-icon> add_circle </mat-icon>
				</button>
			</div>
			<mat-table matSort matTableResponsive [dataSource]="_dataSource">
				<ng-container matColumnDef="NOp">
					<mat-header-cell *matHeaderCellDef>
						<span> N° Op. </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="NOp">
						<span> {{ element.NOp }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Status">
					<mat-header-cell *matHeaderCellDef>
						<span> Status </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Status">
						<span [matMenuTriggerFor]="statusMenu">
							{{ element.Status }}
							<mat-icon> arrow_drop_down </mat-icon>
						</span>
						<mat-menu #statusMenu="matMenu" xPosition="before">
							<button mat-menu-item>Status 1</button>
							<button mat-menu-item>Status 2</button>
							<button mat-menu-item>Status 3</button>
						</mat-menu>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="NFs">
					<mat-header-cell *matHeaderCellDef>
						<span> NFs </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="NFs">
						<span
							[matTooltip]="element.NFs.join(', ')"
							matTooltipPosition="above"
							>{{ element.NFs.slice(0, 4).join(', ')
							}}<span *ngIf="element.NFs.length > 4">...</span>
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Entrada">
					<mat-header-cell *matHeaderCellDef>
						<span> Entrada </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Entrada">
						<span> {{ element.Entrada || ' - ' }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Motorista">
					<mat-header-cell *matHeaderCellDef>
						<span> Motorista </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Motorista">
						<span> {{ element.Motorista || ' - ' }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Veiculo">
					<mat-header-cell *matHeaderCellDef>
						<span> Veiculo </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="Veiculo">
						<span> {{ element.Veiculo || ' - ' }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="ValorTotal">
					<mat-header-cell *matHeaderCellDef>
						<span> Valor total </span>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" data-label="ValorTotal">
						<span> {{ (element.ValorTotal | currency) || ' - ' }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Controls">
					<mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell *matCellDef="let element" class="controls">
						<span id="vertical-menu">
							<mat-icon [matMenuTriggerFor]="optionsMenu"> more_vert </mat-icon>
							<mat-menu #optionsMenu="matMenu">
								<button
									matRipple
									mat-menu-item
									(click)="openConferencia(element.NOp)"
								>
									<mat-icon> edit </mat-icon>
									<span> Conferência </span>
								</button>
								<button matRipple mat-menu-item (click)="openComments()">
									<mat-icon> mode_comment </mat-icon>
									<span> Comentários </span>
								</button>
								<button matRipple mat-menu-item (click)="openInformations()">
									<mat-icon> info </mat-icon>
									<span> Informações </span>
								</button>
								<button
									matRipple
									mat-menu-item
									(click)="
										removeDocument(element.NomeCompleto, element.IdMotorista)
									"
								>
									<mat-icon> delete </mat-icon>
									<span> Deletar </span>
								</button>
							</mat-menu>
						</span>
						<span id="horizontal-menu">
							<button mat-icon-button (click)="openConferencia(element.NOp)">
								<mat-icon class="delete"> edit </mat-icon>
							</button>
							<button mat-icon-button (click)="openComments()">
								<mat-icon class="delete"> mode_comment </mat-icon>
							</button>
							<button mat-icon-button (click)="openInformations()">
								<mat-icon class="delete"> info </mat-icon>
							</button>
							<button
								mat-icon-button
								(click)="
									removeDocument(element.NomeCompleto, element.IdMotorista)
								"
							>
								<mat-icon class="delete"> delete </mat-icon>
							</button>
						</span>
					</mat-cell>
				</ng-container>

				<mat-header-row
					*matHeaderRowDef="displayedColumns; sticky: true"
				></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
			</mat-table>
		</div>
	</div>
	<app-paginator
		[currentPage]="currentPage"
		[pageCount]="pageCount"
		[isMobile]="breakPoint"
		(returnPage)="getDocuments($event)"
	>
	</app-paginator>
</div>
